.embla {
  position: relative;
  max-width: 800px;
  width: 100%;
  overflow: hidden;
}

.embla__viewport {
  display: flex;
}

.embla__container {
  display: flex;
  transition: transform 0.3s ease;
}

.embla__slide {
  flex: 0 0 100%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.embla__slide img {
  max-width: 100%;
  height: auto;
}
