.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .embla__container {
    display: flex;
    transition: transform 0.4s ease;
  }
  
  .embla__slide {
    position: relative;
    min-width: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
  
  .embla__slide.active {
    opacity: 1;
  }
  
  .embla__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .embla__button--prev {
    left: 10px;
  }
  
  .embla__button--next {
    right: 10px;
  }
  