body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1A1A1D;
  }
  ul, li{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  *{
    list-style-type: none;
    color: #fff;
    text-decoration: none;
  }
 

  .photo-grid {
    column-count: 5; /* Количество колонок */
    column-gap: 10px; /* Отступ между колонками */
  }
  
  .photo-grid img {
    width: 100%;
    margin-bottom: 10px; /* Отступ между изображениями */
  }
  
  
  .slider-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-slider {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  










  .embla {
    position: relative;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
  }
  
  .embla__viewport {
    display: flex;
  }
  
  .embla__container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .embla__slide {
    flex: 0 0 100%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
  }
  
  .embla__slide img {
    max-width: 100%;
    height: auto;
  }
  
