body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1A1A1D;
  }
  ul, li{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  *{
    list-style-type: none;
    color: #fff;
    text-decoration: none;
  }
